/*------------------------  common/_productitem.html.erb  ------------------------*/
.product-item{
  border: 1px solid #f2f2f2;
}

.image img{
  width: 100%;
}

.title{
  background-color: #ffffff;
  padding: 5px 0;
}

.review{
  color: #ffd700;
  background-color: #ffffff;
  padding: 0 0 5px 0;
}

.data{
  margin: 0px auto;
  margin-bottom: 10px;
}

.marks{
  width: 48.5%;
  background-color: #ffd700;
  padding: 5px 0;
}

.clip{
  width: 48.5%;
  background-color: #ffd700;
  padding: 5px 0;
}

/*------------------------  common/_reviewitem.html.erb  ------------------------*/

.review-change{
  padding: 0 15px;
}

.reviewitem{
  background-color: #ffffff;
  height: 300px;
  padding: 10px;
  margin: 10px 5px;
}

.reviewitem-image img{
  width: 100%;
}

.reviewitem-product-title{
  font-size: 1.3em;
  font-weight: bold;
}

.reviewitem-rate{
  color: #ffd700;
}

.reviewitem-title{
  font-size: 1.1em;
  font-weight: bold;
}

.reviewitem-text{
  height: 160px;
}

.reviewitem-date{
  color: #afa9a9;
}
