/*------------------------  common/_productitem.html.erb  ------------------------*/

.image img{
  width: 100%;
}

.title{
  background-color: #ffffff;
  padding: 5px 0;
}

.data{
  margin: 0px auto;
  margin-bottom: 10px;
}

.marks{
  width: 48.5%;
  background-color: #ffd700;
  padding: 5px 0;
}

.clip{
  width: 48.5%;
  background-color: #ffd700;
  padding: 5px 0;
}
