/*------------------------ 新規登録 devise/registrations/new.html.erb  ------------------------*/
.devise-title{
  font-size: 1.8em;
  margin: 20px 0;
}

.login-memory{
  margin: 20px 0;
}

.devise-ref{
  font-size: 1.1em;
  margin: 10px 0;
}
