// Place all the styles related to the review_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_comment-date{
  color: #afa9a9;
}

.review-comment{
  padding-top: 20px;
}

.comment-product-image img{
  width: 100%;
}

.review-user-image img{
  width: 100%;
  max-width: 50px;
  min-width: 35px;
}

.review-comment-user-image img{
  width: 100%;
  max-width: 40px;
  min-width: 30px;
}

@media (min-width: 480px) {
  .review-comment-btn{
    margin-top: 35px;
  }
}
