<div class="container-fluid">
  <div class="row product-show">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="lineup col-md-9">
          <div class="row">
            <div class="top-content-header">
              今日のラインナップ
            </div>
              <% @products.each do |product| %>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <%= render partial: "common/productitem", locals: {product: product} %>
                </div>
              <% end %>
          </div>
          <div class="row">
            <div class="top-content-header">
              明日のラインナップ
            </div>
              <% @nextproducts.each do |product| %>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <%= render partial: "common/productitem", locals: {product: product} %>
                </div>
                </div>
              <% end %>
          </div>
        </div>
        <div class="top-ranking col-md-3">
          <div class="row">
            <div class="top-content-header">
              関心度ランキング
            </div>
            <% @ranking.each.with_index(1) do |product, i| %>
              <div class="col-md-12 col-sm-4 col-xs-6">
                <%= render partial: "common/productitem", locals: {product: product} %>
                <p class="ranking-text">
                  <span><%= i %></span>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
