<div class="container-fluid">
  <div class="row product-search">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <%= render partial: "common/productitem", locals: {product: product, review_rate: product.reviews.average(:rate).round(1)} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
