<div class="container-fluid">
  <div class="row cast-search">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <% @casts.each do |cast| %>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <%= link_to cast_path(cast) do %>
              <div class="image">
                <img src="" alt=""/>
              </div>
              <div class="cast text-center">
                <p><%= cast.cast %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
